.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    font-size: medium;
    justify-items: center;
}

.social button,
.social a {
  margin-right: 10px;
}

.menu-total{
  background-color: #0061a6;
  justify-content: space-evenly;
}

.mat-button{
  background-color: #0061a6;
  font-size: medium;
  text-align: center;
  justify-items: center;
  color: white;
  padding: 10px;
  margin-left: 20px;
}

.mat-menu-item{
  background-color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #1f487e;
}

.nav-item{
  color: #0061a6
}

body{
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 975px;
}

.ytv{
  align-items: center;
  margin-top: 15px;
  text-align: center;
  margin-left: 330px;
  border-color: #1f487e;
}

.dev2{
    margin-bottom: 100px;
}

.dev2{
  margin-bottom: 10px;
}

.mat-list{
  text-align: center;
  margin-left: 180px;
}

.divmeio{
  text-align: center;
  align-items: center;
  align-self: center;
  margin-left: -150px;
}

.sup{
  text-align: center;
  background-color: white;
  font-size: 21px;
  font-family: "Arimo", sans-serif;
  font-weight: 700px;
  color: #1f487e;
  margin-left: 260px;
  margin-right: 260px;
}

.supicon{
  margin-left: 8px;
}

.divsup{
  color: #1f487e;
  text-align: center;
}

.wppicon{
  margin-top: -5px;
  margin-right: -8px;
}

.txtwpp{
  margin-top: 5px;
}

.columnmat{
  width: 33%;
  float: left;
  text-align: center;
  align-items: center;
}

.mat-expansion-panel{
  background-color: #f1f1f1;
  padding: 3px;
  margin-right: 230px;
  margin-left: 230px;
}

.mat-expansion-panel-header{
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 20px;
}

.mat-icon{
  margin-right: 15px;
}

.league-spartan{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.menucor{
  color: white;
  font-family: "League Spartan";
  font-size: 19px;
}

.giccor{
  color: #f8a2db;
  font-size: 16px;
}

.cfbcor{
  color: #009c3b;
  font-size: 16px;
}

.undcor{
  color: #009cd7;
  font-size: 16px;
}

.arimo-font{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'Bombardier';
      src: url('Bombardier.woff2') format('woff2'),
          url('Bombardier.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  
  .footer {
      font-family: 'Bombardier', sans-serif;
      font-size: 19px;
      margin-top: 5px;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #1f487e;
      color: white;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 10px;
      margin-top: -8px;
  }
  
  .column2{
      width: 50%;
      float: left;
      margin-top: 35px;
  }
    
  .column3{
      width: 50%;
      float: left;
  }
  
  .logof1{
      width: 7%;
      padding-bottom: 25px;
      align-items: center;
  }
    
  .logof2{
      width: 9%;
      padding-bottom: 5px;
      align-items: center;
  }
    
  .copy{
     font-size: 15px;
    }