<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;1,500&family=League+Spartan&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=League+Spartan&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<mat-toolbar color="primary" class="top-nav">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../assets/logo.png">
  <span class="nav-item"></span>
  <span class="nav-item"></span>
  <span class="nav-item"></span>
  <span class="nav-item"></span>
  <span class="nav-item"></span>

    <div class="social">
      <a href="https://www.youtube.com/@TeamUnderControl1156" target="_blank"> <button mat-icon-button color="primary" aria-label="Youtube">
       <mat-icon svgIcon="youtube"></mat-icon>
      </button></a>
      <a href="https://www.instagram.com/undercontrol1156" target="_blank"><button mat-icon-button color="accent" aria-label="Instagram">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button></a>
      <a href="https://www.tiktok.com/@undercontrol1156" target="_blank"><button mat-icon-button color="warn" aria-label="Tiktok">
        <mat-icon>tiktok</mat-icon>
      </button></a>
    </div>    

  </mat-toolbar>
<div class="menu-total">
  <button class="menucor" mat-button [matMenuTriggerFor]="menu">Sobre</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigateSobrenos()">Sobre Nós</button>
  <button mat-menu-item (click)="navigateRobos()">Nossos Robôs</button>
</mat-menu>
  <button class="menucor" mat-button [matMenuTriggerFor]="menu2">Competição</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item (click)="navigateFirst()">FIRST®</button>
  <button mat-menu-item (click)="navigateAwards()">Premiações</button>
</mat-menu>
<button class="menucor" mat-button [matMenuTriggerFor]="menu3">Recursos</button>
<mat-menu #menu3="matMenu">
<button mat-menu-item (click)="navigateNaotecnico()">Não-Técnico</button>
<button mat-menu-item>2023 CAD</button>
</mat-menu>
<button class="menucor" mat-button [matMenuTriggerFor]="menu4">Projetos</button>
<mat-menu #menu4="matMenu">
<button class="undcor" mat-menu-item (click)="navigateDevelopment()">Under Development</button>
<button class="giccor" mat-menu-item (click)="navigateGic()">Girls In Control</button>
<button class="cfbcor" mat-menu-item (click)="navigateComunidade()">Comunidade FIRST BR</button>
</mat-menu>
<button class="menucor" mat-button (click)="navigatePatrocinadores()">Patrocinadores</button>
<mat-menu #menu5="matMenu">
</mat-menu>
</div>

<body>
    <body>
        <div class="column">
            <img src="../assets/dev1.png" class="dev1" alt="Under Development Bg" style="width:100%">
            <img src="../assets/dev2.png" class="dev2" alt="Under Development Bg2" style="width:100%">
        </div>
        <div class="columnmat">
            <mat-list>
              <mat-list-item class="docenter">O Livro Secreto do LabView</mat-list-item>
              <mat-divider class="divmeio"></mat-divider>
              <mat-list-item class="docenter">Distância - Limelight</mat-list-item>
              <mat-divider class="divmeio"></mat-divider>
              <mat-list-item class="docenter">Trajetória Labview</mat-list-item>
              <mat-divider class="divmeio"></mat-divider>
            </mat-list></div>
          <div class="columnmat">
            <mat-list class="matlist2">
              <mat-list-item class="docenter">Template Build-Season</mat-list-item>
              <mat-divider class="divmeio"></mat-divider>
              <mat-list-item class="docenter">Manual KOP 2020</mat-list-item>
              <mat-divider class="divmeio"></mat-divider>
              <mat-list-item class="docenter">Manual KOP 2022</mat-list-item>
              <mat-divider class="divmeio"></mat-divider>
            </mat-list></div>
          <div class="columnmat">
            <mat-list class="matlist2">
                  <mat-list-item class="docenter">Branding Guidelines</mat-list-item>
                  <mat-divider class="divmeio"></mat-divider>
                  <mat-list-item class="docenter">Business Plan 2022</mat-list-item>
                  <mat-divider class="divmeio"></mat-divider>
                  <mat-list-item class="docenter">Item 3</mat-list-item>
                  <mat-divider class="divmeio"></mat-divider>
            </mat-list>
      </div>
            <div class="column">
            <img src="../assets/dev3.png" class="dev3" alt="Under Development Bg3" style="width:100%">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-icon>code</mat-icon>
                  <mat-panel-title>
                    Programação:
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Playlist <a href="https://www.youtube.com/playlist?list=PLNdnrs1z54truNGeZJkGjICJMz4MzYsD2" target="_blank">sistema de controle e básicos de LabVIEW</a></p>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-icon>edit</mat-icon>
                  <mat-panel-title>
                    CAD:
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Playlist <a href="https://www.youtube.com/playlist?list=PLNdnrs1z54tpGHsSkFqttgv0wysrx0PLr" target="_blank">CAD e design de mecanismos</a></p>
              </mat-expansion-panel>
            </mat-accordion>
              </div>
      <iframe class="ytv" width="640" height="360"
        src="https://www.youtube.com/embed/b1ABrXfH2to">
      </iframe>
      <div class="devdiv"><img src="../assets/devdiv.png" alt="Divider" style="width:60%"></div>
      <mat-card class="sup"><mat-icon> <div class="supicon">settings_phone</div></mat-icon>Suporte: 55 51 9984-21977 <br>
        <mat-divider class="divsup"></mat-divider><div class="txtwpp"></div>
        <button class="wppicon" mat-icon-button color="accent" aria-label="Whatsapp">
          <mat-icon svgIcon="wpp" class="wppicon"></mat-icon></button>Whatsapp: 55 51 9984-21977
          <mat-chip color="accent" selected>Já disponível!</mat-chip></mat-card>
</body>

<div class="footer">
    <div class="column3">
    <h2>Localização: </h2><p>Colégio Marista Pio XII - 93510-060 <br> Av. Nicolau Becker 182,
      Vila Rosa - Novo Hamburgo, RS Brasil. <br> Aberto de Segunda à Sexta das 8:00 às 17:40</p>
    </div>
    <div class="column3">
        <h2>Contato: </h2><p>Entre em contato conosco pelas redes sociais ou pelos seguintes canais:
            <br>Ramal ➞ (51) 3584-8000 - Helpline ➞ (51) 9 9878-2313 - Email ➞ robotica.1156@gmail.com </p>
      </div>
      <img src="../assets/LogoFIRST.png" class="logof1" alt="logoFirst">
      <img src="../assets/under.png" class="logof2" alt="logoUnder">
    <div class="copy">
      <p>© 2024 Under Control - 1156 | O Time de Robótica do Brasil. All Rights Reserved.</p>
    </div>
    <div class="social">
      <a href="https://www.youtube.com/@TeamUnderControl1156" target="_blank"> <button mat-icon-button color="primary" aria-label="Youtube">
       <mat-icon svgIcon="youtube"></mat-icon>
      </button></a>
      <a href="https://www.instagram.com/undercontrol1156" target="_blank"><button mat-icon-button color="accent" aria-label="Instagram">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button></a>
      <a href="https://www.tiktok.com/@undercontrol1156" target="_blank"><button mat-icon-button color="warn" aria-label="Tiktok">
        <mat-icon>tiktok</mat-icon>
      </button></a>
    </div>   
  </div>