.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    font-size: medium;
    justify-items: center;
}

.menu-total{
  background-color: #0061a6;
}

.mat-button{
  background-color: #0061a6;
  font-size: medium;
  justify-content: space-evenly;
  text-align: center;
  justify-items: center;
  color: white;
  padding: 10px;
}

.mat-menu-item{
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #1f487e;
}

.nav-item{
  color: #0061a6
}


body{
  background-color: #0061a6;
  background-image: url(src\assets\sitebackgrounds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}


.texto-um{
  color: white;
  background-color: #1f487e;
  font-family: 'League Spartan', sans-serif;
  text-align: left;
  padding: 15px;
  font-size: x-large;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.logos {
  background-color:#1f487e;
  width: auto;
  height: auto;
}

.logos::after {
  content: "";
  clear: both;
  display: table;
}