<p>
  <mat-toolbar color="primary" class="top-nav">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/logo.png">
    <span class="nav-item"> Sobre Nós </span>
    <span class="nav-item"> Competição </span>
    <span class="nav-item"> Patrocinadores </span>
    <span class="nav-item"> Recursos </span>
    <span class="nav-item"> Under Development </span>
  </mat-toolbar>
</p>

<body>
<mat-card class="texto-intro">
  <mat-card-content><h2>"Nossa missão é inspirar gerações através da STEAM, construindo líderes para o futuro,
    promovendo valores de profissionalismo, humanidade e excelência."</h2>
  </mat-card-content>
</mat-card>
</body>

<mat-card class="texto-dois">
  <mat-card-content><h1>Conheça nosso trabalho 🦾</h1>
  </mat-card-content>
</mat-card>
