<p>
  <mat-toolbar color="primary" class="top-nav">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/logo.png">
    <span class="nav-item">My App</span>
    <span class="nav-item"> Sobre </span>
    <span class="nav-item"> Competição </span>
    <span class="nav-item"> Robôs </span>
  </mat-toolbar>
</p>

<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>