.logo1{ 
  transition: all .2s ease-in-out;
  margin-top: 50px;
  margin-left: 20px;
  }
  
.logo1:hover { 
  transform: scale(1.1); 
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    font-size: medium;
    margin-bottom: -4px;
    margin-top: -4px;
    justify-items: center;
}

.social button,
.social a {
  margin-right: 10px;
  margin-top: 2px;
}

.menu-total{
  background-color: #0061a6;
  justify-content: safe;
  text-align: center;
}

.mat-button{
  background-color: #0061a6;
  font-size: medium;
  text-align: center;
  justify-items: center;
  color: white;
  padding: 10px;
  margin-left: 20px;
}

.mat-menu-item{
  background-color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #1f487e;
}

.nav-item{
  color: #0061a6;
}

  .column{
    width: 50%;
    float: left;
    margin-top: 35px;
  }

  .rubik-font{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.gictxt{
    margin-top: -1110px;
    margin-right: 655px;
    padding: 25px;
    text-align: justify;
}

.menucor{
  color: white;
  font-family: "League Spartan";
  font-size: 19px;
}

.giccor{
  color: #f8a2db;
  font-size: 16px;
}

.cfbcor{
  color: #009c3b;
  font-size: 16px;
}

.undcor{
  color: #009cd7;
  font-size: 16px;
}

.arimo-font{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

  @font-face {
      font-family: 'Bombardier';
      src: url('Bombardier.woff2') format('woff2'),
          url('Bombardier.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  body{ 
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto;
    margin-bottom: 620px;
}

.frec{
  margin-top: 95px;
  margin-left: 40px;
  display: flex;
  text-align: right;
}

.frec1{
  text-align: right;
}

.rec2{
  margin-bottom: -40px;
}

.rec1{
  margin-bottom: -25px;
}

.rectxt{
    font-size: 20px;
    color: #1f487e;
    margin-left: 28px;
    margin-top: 27px;
    margin-bottom: -15px;
}

.rectxt1{
  font-size: 20px;
  color: #1f487e;
  margin-left: 28px;
}

.mat-divider{
    margin-right: 850px;
}

.hlinkc{
  color: blue;
  text-decoration: underline;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body{
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto;
    margin-bottom: 800px;
}

  .arimo-font{
      font-family: "Arimo", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }
    
    @font-face {
        font-family: 'Bombardier';
        src: url('Bombardier.woff2') format('woff2'),
            url('Bombardier.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    
    .footer {
        font-family: 'Bombardier', sans-serif;
        font-size: 19px;
        margin-top: 5px;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1f487e;
        color: white;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-top: -8px;
    }
    
    .column2{
        width: 50%;
        float: left;
        margin-top: 35px;
    }
      
    .column3{
        width: 50%;
        float: left;
    }
    
    .logof1{
      width: 7%;
      margin-right: 20px;
      padding-bottom: 10px;
      align-items: center;
      display: inline-table;
    }
    
      
    .logof2{
        width: 9%;
        padding-bottom: 5px;
        align-items: center;
    }
      
    .copy{
       font-size: 15px;
      }