.logo1{
  margin-top: 11px;
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    font-size: medium;
    justify-items: center;
}

.social button,
.social a {
  margin-right: 10px;
}

.menu-total{
  background-color: #0061a6;
  justify-content: space-evenly;
}

.mat-button{
  background-color: #0061a6;
  font-size: medium;
  text-align: center;
  justify-items: center;
  color: white;
  padding: 10px;
  margin-left: 20px;
}

.mat-menu-item{
    background-color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #1f487e;
  }

.nav-item{
  color: #0061a6
}

.competicao{
    border-color: #001f3a;
    background-color: #001f3a;
}

.premiacaotit{
    background-color: #001f3a;
    border-color: #001f3a;
    text-align: center;
    border-style: none;
    font-size: xx-large;
}

.mat-card{
    background-color: #001f3a;
    margin-top: -8px;
    border-style: none;
  }
  
.mat-card-content{
    border-style: none;
    color: white;
    background-color: #001f3a;
}

.listapremios{
    background-color: #001f3a;
    color: white;
    text-align: center;
    font-size: 16px;
}

.mat-tab-group{
    color: #929495;
    align-items: center;
    text-align: left;
    align-items: center;
    margin-bottom: -220px;
}

body{
    background-color: #001f3a;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto;
    margin-bottom: -340px;
}

.league-spartan{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .menucor{
    color: white;
    font-family: "League Spartan";
    font-size: 19px;
  }
  
  .giccor{
    color: #f8a2db;
    font-size: 16px;
  }
  
  .cfbcor{
    color: #009c3b;
    font-size: 16px;
  }
  
  .undcor{
    color: #009cd7;
    font-size: 16px;
  }

@font-face {
    font-family: 'Bombardier';
    src: url('Bombardier.woff2') format('woff2'),
        url('Bombardier.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.footer {
    font-family: 'Bombardier', sans-serif;
    font-size: 19px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f487e;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
  
.column2{
    width: 50%;
    float: left;
    margin-top: 35px;
}
  
.column3{
    width: 50%;
    float: left;
}
  
.logof1{
    width: 7%;
    padding-bottom: 25px;
    align-items: center;
}
  
.logof2{
    width: 9%;
    padding-bottom: 5px;
    align-items: center;
}
  
.copy{
   font-size: 15px;
  }