.logo1{
  margin-top: 11px;
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    font-size: medium;
    justify-items: center;
}

.social button,
.social a {
  margin-right: 10px;
}

.menu-total{
  background-color: #0061a6;
  justify-content: space-evenly;
}

.mat-button{
  background-color: #0061a6;
  font-size: medium;
  text-align: center;
  justify-items: center;
  color: white;
  padding: 10px;
  margin-left: 20px;
}

.mat-menu-item{
  background-color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #1f487e;
}

.nav-item{
  color: #0061a6
}

body{
  background-color: #0061a6;
  background-image: url(src\assets\sitebackgrounds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

.texto-um{
  color: white;
  background-color: #001f3a;
  font-family: 'League Spartan', sans-serif;
  text-align: left;
  padding: 10px;
  margin-right: 15px;
  border-color: #001f3a;
  font-size: x-large;
}

* {
  box-sizing: border-box;
}

.mat-card {
  background-color: #001f3a;
  border-style: none;
}

.mat-card-content {
  border-style: none;
  margin-right: 3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0px;
}

.column {
  float: left;
  width: 50%;
}

.logos {
  background-color:#001f3a;
  width: cover;
  height: cover;
}

.crescefrc{
  padding-top: 23px;
  margin-bottom: 100px;
}

.logos::after {
  content: "";
  clear: both;
  display: table;
  background-color:#001f3a;
}

.texto-dois{
  color: white;
  margin-left: 25px;
  background-color: #001f3a;
  text-align: left;
  padding: 10px;
  margin-left: 15px;
  margin-right: 5px;
  border-color: #001f3a;
  font-size: x-large;
}

.league-spartan{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.menucor{
  color: white;
  font-family: "League Spartan";
  font-size: 19px;
}

.giccor{
  color: #f8a2db;
  font-size: 16px;
}

.cfbcor{
  color: #009c3b;
  font-size: 16px;
}

.undcor{
  color: #009cd7;
  font-size: 16px;
}

.robottitle{
  margin: auto;
}

.circ{
  margin-top: -800px;
}

.ytv{
  margin-right: 8px;
  margin-top: 25px;
  float: right;
  border-color: #1f487e;
}

#myVideo {
  margin-top: 30px;
  margin-bottom: 10px;
  position: static;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
}

.patrohome{
  text-align: center;
  margin-top: -350px;
  margin-bottom: 140px;
}

.buttonpat{
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: -5px;
}

.fototime{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

@font-face {
  font-family: 'Bombardier';
  src: url('Bombardier.woff2') format('woff2'),
      url('Bombardier.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.footer {
  font-family: 'Bombardier', sans-serif;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1f487e;
  color: white;
  text-align: center;
  padding: 18px;
  border: #001f3a;
  border-radius: 5px;
}

.column2{
  width: 50%;
  float: left;
  margin-top: 35px;
}

.column3{
  width: 50%;
  float: left;
}

.logof1{
  width: 7%;
  padding-bottom: 25px;
  align-items: center;
}

.logof2{
  width: 9%;
  padding-bottom: 5px;
  align-items: center;
}

.copy{
 font-size: 15px;
}
