<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
<mat-toolbar color="primary" class="top-nav">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a (click)="backHome()"> <img class="logo1" src="../assets/under.png" style="width:16%"> </a>
  <span class="nav-item"></span>
  <span class="nav-item"></span>
  <span class="nav-item"></span>

    <div class="social">
      <a href="https://www.youtube.com/@TeamUnderControl1156" target="_blank"> <button mat-icon-button color="primary" aria-label="Youtube">
       <mat-icon svgIcon="youtube"></mat-icon>
      </button></a>
      <a href="https://www.instagram.com/undercontrol1156" target="_blank"><button mat-icon-button color="accent" aria-label="Instagram">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button></a>
      <a href="https://www.tiktok.com/@undercontrol1156" target="_blank"><button mat-icon-button color="primary" aria-label="Tiktok">
        <mat-icon>tiktok</mat-icon>
      </button></a>
    </div>       

  </mat-toolbar>
<div class="menu-total">
  <button class="menucor" mat-button [matMenuTriggerFor]="menu">Sobre</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigateSobrenos()">Sobre Nós</button>
  <button mat-menu-item (click)="navigateRobos()">Nossos Robôs</button>
</mat-menu>
  <button class="menucor" mat-button [matMenuTriggerFor]="menu2">Competição</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item (click)="navigateFirst()">FIRST®</button>
  <button mat-menu-item (click)="navigateAwards()">Premiações</button>
</mat-menu>
<button class="menucor" mat-button [matMenuTriggerFor]="menu3">Recursos</button>
<mat-menu #menu3="matMenu">
<button mat-menu-item (click)="navigateNaotecnico()">Não-Técnico</button>
<button mat-menu-item (click)="navigateCad()">2023 CAD</button>
</mat-menu>
<button class="menucor" mat-button [matMenuTriggerFor]="menu4">Projetos</button>
<mat-menu #menu4="matMenu">
<button class="undcor" mat-menu-item (click)="navigateDevelopment()">Under Development</button>
<button class="giccor" mat-menu-item (click)="navigateGic()">Girls In Control</button>
<button class="cfbcor" mat-menu-item (click)="navigateComunidade()">Comunidade FIRST BR</button>
</mat-menu>
<button class="menucor" mat-button (click)="navigatePatrocinadores()">Patrocinadores</button>
<mat-menu #menu5="matMenu">
</mat-menu>
</div>

<body>
</body>
<div class="logos">
  <div class="column">
    <img src="../assets/crescefrc.png" class="crescefrc" alt="Crescendo" style="width:100%">
  </div> 
  <div class="column">
    <mat-card>
      <mat-card-content><h3 class="texto-um">
        Nosso time participa anualmente da FIRST Robotics Competition, a maior competição de robótica educacional a nível de ensino médio do mundo! Ela visa inspirar jovens a seguirem carreiras nas áreas da ciência, tecnologia, engenharia, artes e matemática. Mas não só isso, ela também é uma competição que promove valores e tem como slogan “Mais do que Robôs”. 🏆</h3>
      </mat-card-content>
    </mat-card>
</div>

  <iframe class="ytv" width="640" height="360"
src="https://www.youtube.com/embed/RU3XEFaCeSE?loop=1">
</iframe>
<div class="robottitle">
  <img src="../assets/titlearc.png" alt="robottitle" style="width:50%">
</div> 
  <div class="column2">
    <mat-card-content><h3 class="texto-dois">{{textRobot}}
    </h3>
  </mat-card-content>
</div>
<video autoplay muted loop id="myVideo">
  <source src="../assets/under.mp4" type="video/mp4">
</video>
<div class="patrohome">
  <img src="../assets/patrohome.png" class="patroimg" alt="patrohome" style="width:80%">
  <div class="buttonpat">
    <a href="patrocinadores"><button class="buttonpat" mat-raised-button color="primary">Patrocinadores
</button></a>
  </div>
</div> 
<body>
</body>
<div class="fototime">
    <img src="../assets/fototime.png" alt="Foto Time" style="width:100%">
  </div>

  <div class="footer">
    <div class="column3">
    <h2>Localização: </h2><p>Colégio Marista Pio XII - 93510-060 <br> Av. Nicolau Becker 182,
      Vila Rosa - Novo Hamburgo, RS Brasil. <br> Aberto de Segunda à Sexta das 8:00 às 17:40</p>
    </div>
    <div class="column3">
      <h2>Contato: </h2><p>Entre em contato conosco pelas redes sociais ou pelos seguintes canais:
        <br>Ramal ➞ (51) 3584-8000 - Helpline ➞ (51) 9 9878-2313 - Email ➞ robotica.1156@gmail.com </p>
      </div>
      <img src="../assets/LogoFIRST.png" class="logof1" alt="logoFirst">
    <div class="copy">
      <p>© 2024 Under Control - 1156 | O Time de Robótica do Brasil. All Rights Reserved.</p>
    </div>
    <div class="social">
      <a href="https://www.youtube.com/@TeamUnderControl1156" target="_blank"> <button mat-icon-button color="primary" aria-label="Youtube">
       <mat-icon svgIcon="youtube"></mat-icon>
      </button></a>
      <a href="https://www.instagram.com/undercontrol1156" target="_blank"><button mat-icon-button color="accent" aria-label="Instagram">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button></a>
      <a href="https://www.tiktok.com/@undercontrol1156" target="_blank"><button mat-icon-button color="warn" aria-label="Tiktok">
        <mat-icon>tiktok</mat-icon>
      </button></a>
    </div>   
  </div>