.logo1{ 
    transition: all .2s ease-in-out;
    margin-top: 50px;
    margin-left: 20px;
    }
    
  .logo1:hover { 
    transform: scale(1.1); 
  }
  
  .top-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: white;
      font-size: medium;
      margin-bottom: -4px;
      margin-top: -4px;
      justify-items: center;
  }
  
  .social button,
  .social a {
    margin-right: 10px;
    margin-top: 2px;
  }
  
  .menu-total{
    background-color: #0061a6;
    justify-content: safe;
    text-align: center;
  }
  
  .mat-button{
    background-color: #0061a6;
    font-size: medium;
    text-align: center;
    justify-items: center;
    color: white;
    padding: 10px;
    margin-left: 20px;
  }
  
  .mat-menu-item{
    background-color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #1f487e;
  }
  
  .nav-item{
    color: #0061a6;
  }

.league-spartan{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .menucor{
    color: white;
    font-family: "League Spartan";
    font-size: 19px;
  }
  
  .giccor{
    color: #f8a2db;
    font-size: 16px;
  }
  
  .cfbcor{
    color: #009c3b;
    font-size: 16px;
  }
  
  .undcor{
    color: #009cd7;
    font-size: 16px;
  }

body{
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto;
    margin-bottom: -340px;
}

@font-face {
    font-family: 'Bombardier';
    src: url('Bombardier.woff2') format('woff2'),
        url('Bombardier.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.column4{
    width: 50%;
    float: left;
    margin-left: 30px;
}

.titlesn{
    color: white;
    font-family: 'Bombardier';
    font-weight: normal;
    font-style: normal;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 48px;
    background-color: #1f487e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titlesn2{
    color: yellow;
    font-family: 'Bombardier';
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 48px;
    background-color: #1f487e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.premiosdiv{
    margin-top: 25px;
    margin-left: -10px;
    margin-bottom: 20px;
}

.titlep{
    text-align: center;
    color: white;
    font-size: 37px;
    margin-top: -15px;
    background-color: #0061a6;
    font-family: 'League Spartan', sans-serif;
    padding: 25px;
    font-weight: 800;
}

.premios2023{
    background-color: white;
    color: #001f3a;
    text-align: left;
    margin-bottom: -5px;
    margin-top: -70px;
    font-size: 17.5px;
    margin-left: 50px;
}

.texto-um{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: -5px;
}

.outrosy{
    color: #1f487e;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -15px;
}

.divider1{
    margin-bottom: 10px;
    text-align: center;
    display: inline-table;
}

.regional{
    color: black;
    font-size: 19px;
}

.premiosunder{
    background-color: white;
    color: #1f487e;
    text-align: left;
    margin-bottom: 20px;
    font-size: 17px;
    margin-left: 20px;
}

.gif1{
    margin-left: 150px;
    margin-top: -100px;
}

.marginr, .cb{
  margin-left: 50px;
}

.cb{
    color: black;
}

.tab1{
    text-align: left;
    margin-bottom: 20px;
    font-size: x-large;
    margin-left: 20px;
}

.mat-tab-group{
    margin-left: -5px;
    margin-right: -5px;
}

.footer {
    font-family: 'Bombardier', sans-serif;
    font-size: 19px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f487e;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
  
.column2{
    width: 50%;
    float: left;
    margin-top: 35px;
}
  
.column3{
    width: 50%;
    float: left;
}

.logof1{
  width: 7%;
  margin-right: 20px;
  padding-bottom: 10px;
  align-items: center;
  display: inline-table;
}
  
.logof2{
    width: 9%;
    padding-bottom: 5px;
    align-items: center;
}
  
.copy{
   font-size: 15px;
  }