<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
<mat-toolbar color="primary" class="top-nav">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/logo.png">
    <span class="nav-item"></span>
    <span class="nav-item"></span>
    <span class="nav-item"></span>
    <span class="nav-item"></span>
    <span class="nav-item"></span>

    <div class="social">
      <a href="https://www.youtube.com/@TeamUnderControl1156" target="_blank"> <button mat-icon-button color="primary" aria-label="Youtube">
       <mat-icon svgIcon="youtube"></mat-icon>
      </button></a>
      <a href="https://www.instagram.com/undercontrol1156" target="_blank"><button mat-icon-button color="accent" aria-label="Instagram">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button></a>
      <a href="https://www.tiktok.com/@undercontrol1156" target="_blank"><button mat-icon-button color="warn" aria-label="Tiktok">
        <mat-icon>tiktok</mat-icon>
      </button></a>
    </div>    

  </mat-toolbar>
  <div class="menu-total">
    <button class="menucor" mat-button [matMenuTriggerFor]="menu">Sobre</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateSobrenos()">Sobre Nós</button>
    <button mat-menu-item (click)="navigateRobos()">Nossos Robôs</button>
  </mat-menu>
    <button class="menucor" mat-button [matMenuTriggerFor]="menu2">Competição</button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="navigateFirst()">FIRST®</button>
    <button mat-menu-item (click)="navigateAwards()">Premiações</button>
  </mat-menu>
  <button class="menucor" mat-button [matMenuTriggerFor]="menu3">Recursos</button>
  <mat-menu #menu3="matMenu">
  <button mat-menu-item (click)="navigateNaotecnico()">Não-Técnico</button>
  <button mat-menu-item (click)="navigateCad()">2023 CAD</button>
  </mat-menu>
  <button class="menucor" mat-button [matMenuTriggerFor]="menu4">Projetos</button>
  <mat-menu #menu4="matMenu">
  <button class="undcor" mat-menu-item (click)="navigateDevelopment()">Under Development</button>
  <button class="giccor" mat-menu-item (click)="navigateGic()">Girls In Control</button>
  <button class="cfbcor" mat-menu-item (click)="navigateComunidade()">Comunidade FIRST BR</button>
  </mat-menu>
  <button class="menucor" mat-button (click)="navigatePatrocinadores()">Patrocinadores</button>
  <mat-menu #menu5="matMenu">
  </mat-menu>
  </div>

<body> <div class="column4">
<p class="titlesn">Sobre a </p></div><p class="titlesn2">1156</p>
<p class="texto-um">Já imaginou poder participar da <b>maior competição de robótica do mundo</b> a nível Ensino Médio,<br>
    viajar a países como os Estados Unidos para competir, ganhar diversos prêmios e ajudar a promover a ciência e a <br>
    tecnologia no Brasil e no mundo? É isso que o time Under Control 1156 vem fazendo há <b> mais de 20 anos!</b> Fundado em<br> 
    2002 no Colégio Marista Pio XII, Novo Hamburgo (RS), a equipe participa da FIRST Robotics Competition (<b>FRC</b>),<br> 
    competição anual de robótica. Mas mais do que construir robôs, nossa equipe tem a missão de inspirar <br>
    pessoas a construir um futuro melhor através da ciência e tecnologia, ajudando no desenvolvimento de novos<br> 
    líderes em nossa sociedade.</p>
    <div class="divider1">
        <img src="../assets/divider1.png" alt="d1" style="width:70%">
      </div>
</body>
<p class="titlep">Desempenho nas Competições</p>
<div class="premiosdiv">
<img src="../assets/premiostit.png" alt="premiostitle" style="width:35%">
</div>
<div class="column2">
  <mat-card-content><h3 class="premios2023"><br><ul>
    <li>Engineering Inspiration Award (<b>World Championship</b> – Newton Division);<br>
    <li>Regional Winners (Brazil Regional);<br>
    <li>Industrial Design Award sponsored by General Motors (Brazil Regional);<br>
    <li class="cb">Classificação para a Etapa Mundial (Championship).<br>
    <br>
    <h1 class="outrosy">► Prêmios conquistados em outros anos:</h1>
    </li></ul>
  </h3>
</mat-card-content>
</div>
<div class="gif">
  <img src="../assets/gif.gif" class="gif1" alt="gif" style="width:25%">
</div> 

<mat-tab-group class="premiosunder" animationDuration="0ms">
    <mat-tab class="tab1" label="2022"><br><ul>
    <li>Chairman’s Award Winner (Orlando Regional);<br>
    <li>FIRST Dean's List Finalist Award (Isabela Silva - Orlando Regional);<br>
    <li>Chairman’s Award Winner (Off-Season Brazil);<br>
    <li>Quality Award (Off-Season Brazil);<br>
    <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
    <mat-tab class="tab1" label="2021"><br><ul>
      <li>Chairman’s Award Winner (Caribbean & South American Regional);<br>
      <li>Woodie Flowers Finalist Award (Bruno Nunes Toso - Caribbean & South American Regional);<br>
      <li>Industrial Design Award (Rubidium Group Regional);<br>
      <li>Quality Award (Off-Season Brazil);<br>
      <li class="cb">Chairman’s Award Finalist (Championship);<br>
      <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
      <mat-tab class="tab1" label="2020"><br><ul>
        <li>Chairman’s Award Winner (Finger Lakes Regional);<br>
        <li>Dean's List Finalist Award (Aline Zarpellon - Finger Lakes Regional);<br>
        <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
        <mat-tab class="tab1" label="2019"><br><ul>
          <li>Chairman’s Award Winner (Hudson Valley Regional);<br>
          <li>Regional Winners (Off-Season Brazil);<br>
          <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
          <mat-tab class="tab1" label="2018"><br><ul>
            <li>Regional Winners (Iowa Regional);<br>
            <li>Gracious Professionalism Award (Iowa Regional);<br>
            <li>Chairman’s Award (NY Tech Valley Regional);<br>
            <li>Regional Winners (NY Tech Valley Regional);<br>
            <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
            <mat-tab class="tab1" label="2017"><br><ul>
              <li>Quality Award (Hudson Valley Regional);<br>
              <li>Regional Winners (Long Island Regional);;<br>
              <li>Entrepreneurship Award (Long Island Regional).<br>
              <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
              <mat-tab class="tab1" label="2016"><br><ul>
                <li>Industrial Design Award (Iowa Regional);<br>
                <li>Regional Winners (Long Island Regional);<br>
                <li>Quality Award (Long Island Regional);<br>
                <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
                <mat-tab class="tab1" label="2015"><br><ul>
                  <li>Team Spirit Award (Virginia Regional);<br>
                  <li>Chairman’s Award (Long Island Regional);<br>
                  <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
                  <mat-tab class="tab1" label="2014"><br><ul>
                    <li>Regional Winners (Long Island Regional);<br>
                    <li>Entrepreneurship Award (Long Island Regional);<br>
                    <li>Innovation in Control Award (New York City Regional);<br>
                    <li>Regional Finalist (New York City Regional);<br>
                    <li class="cb">Classificação para a Etapa Mundial (Championship).</li></ul></mat-tab>
  </mat-tab-group>

<div class="footer">
    <div class="column3">
    <h2>Localização: </h2><p>Colégio Marista Pio XII - 93510-060 <br> Av. Nicolau Becker 182,
      Vila Rosa - Novo Hamburgo, RS Brasil. <br> Aberto de Segunda à Sexta das 8:00 às 17:40</p>
    </div>
    <div class="column3">
        <h2>Contato: </h2><p>Entre em contato conosco pelas redes sociais ou pelos seguintes canais:
            <br>Ramal ➞ (51) 3584-8000 - Helpline ➞ (51) 9 9878-2313 - Email ➞ robotica.1156@gmail.com </p>
      </div>
      <img src="../assets/LogoFIRST.png" class="logof1" alt="logoFirst">
      <img src="../assets/under.png" class="logof2" alt="logoUnder">
    <div class="copy">
      <p>© 2024 Under Control - 1156 | O Time de Robótica do Brasil. All Rights Reserved.</p>
    </div>
    <div class="social">
      <a href="https://www.youtube.com/@TeamUnderControl1156" target="_blank"> <button mat-icon-button color="primary" aria-label="Youtube">
       <mat-icon svgIcon="youtube"></mat-icon>
      </button></a>
      <a href="https://www.instagram.com/undercontrol1156" target="_blank"><button mat-icon-button color="accent" aria-label="Instagram">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button></a>
      <a href="https://www.tiktok.com/@undercontrol1156" target="_blank"><button mat-icon-button color="warn" aria-label="Tiktok">
        <mat-icon>tiktok</mat-icon>
      </button></a>
    </div>   
  </div>